<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <!--    <style>-->
    <!--        [v-cloak] {-->
    <!--            display: none;-->
    <!--        }-->
    <!--    </style>-->
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="login-wrapper">
        <h2>Login</h2>
            <form class="login" action="/users/login" method="post">
                <input type="id" name="id" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="button" value="Login" id="btn-save" >
            </form>
    </div>
</div>

<!-- footer.mustache -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).on("click", "#btn-save", function() {
        $.ajax({
            url: "/users/login",
            type: "POST",
            data: $(".login").serialize(),
            success : function(res){
                console.log("success");
                location.href = "/chat/room";
            },
            error : function(request,error){
                console.log(error);
            }
        });

    });
</script>
</body>
</html>